<section class="animalapp">
  <header class="header">
    <h1>Animals</h1>
    <input class="new-animal" placeholder="What new animal?" autofocus="" [(ngModel)]="newAnimal.name" (keyup.enter)="addAnimal()">
  </header>
  <section class="main" *ngIf="animals.length > 0">
    <ul class="animal-list">
      <li *ngFor="let animal of animals">
        <div class="view">
          <label>{{animal.name}}</label>
          <button class="destroy" (click)="removeAnimal(animal)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="animals.length > 0">
    <span class="animal-count"><strong>{{animals.length}}</strong> {{animals.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
