<div class="header" *ngIf="animalToEdit">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>EDIT Animal Form</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="id">ID</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.id" id="id" name="id" type="text" placeholder="id" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="name">Name</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.name" id="name" name="name" type="text" placeholder="Name" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="species">Species</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.species" id="species" name="species" type="text" placeholder="species" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="age">Age</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.age" id="age" name="age" type="text" placeholder="Age" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="diet">Diet</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.diet" id="diet" name="diet" type="text" placeholder="Diet" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="location">Location</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.location" id="location" name="location" type="text" placeholder="location" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="caretakers"># of Cartakers</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.caretakers" id="caretakers" name="caretakers" type="text" placeholder="# of caretakers required" class="form-control input-md">

    </div>
  </div>

  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="sex-radio">Sex</label>
    <div class="col-md-4">
      <label class="radio-inline" for="sex-radio-0">
        <input [(ngModel)]="animalToEdit.sex" type="radio" name="sex" id="sex-radio-0" value="male">
        Male
      </label>
      <label class="radio-inline" for="sex-radio-1">
        <input [(ngModel)]="animalToEdit.sex" type="radio" name="sex" id="sex-radio-1" value="female">
        Female
      </label>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="likes">Likes</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.likes" id="likes" name="likes" type="text" placeholder="likes" class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="dislikes">Dislikes</label>
    <div class="col-md-4">
    <input [(ngModel)]="animalToEdit.dislikes" id="dislikes" name="dislikes" type="text" placeholder="dislikes" class="form-control input-md">

    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="addAnimal"></label>
    <div class="col-md-4">
      <button (click)="onUpdateAnimal(animalToEdit)" id="updateAnimal" name="updateAnimal" class="btn btn-warning">Update Record</button>
    </div>
  </div>

  </fieldset>
  </form>

</div>
